.search-form{
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-movie-form{
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button{
  width: 20%;
  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 2%;
}
.save{
  background-color: #009688;
}
.save:hover{
  background-color: #4DB6AC;
}

.delete{
  background-color: #d32f2f;
}

.delete:hover{
  background-color: #ef5350;
}

.movie-title {
  font-size: 1.5em;
  font-weight: 800;
  color: #777;
}

.movie-rank {
  font-size: 1em;
  font-weight: 600;

  color: #fff;
  background-color: #00BCD4;

  display: inline;
  padding: 5px;
  border-radius: 10px;
}
